@import '../../styles/partials/common-styles';

.warehouseBreak {
    width: 91%;
    color: $primary-border-color;
    margin-left: 4%;
    display: none;

    @include tablet {
        margin-bottom: 0vh;
    }
}

.warehouseInfo {
    
    @include tablet {
        display: flex;
    }

    &__vl {
        display: none;

        @include tablet {
            display: block;
            border-right: 1px solid $primary-border-color;
            height: 8vh;
            margin-top: 2vh;
            margin-left: 10vw;
        }

        @include desktop {
            margin-bottom: 2vh;
            height: 6vh;
            margin-left: 20vw;
        }
    }

    &__break {
        width: 91%;
        color: $primary-border-color;
        margin-left: 4%;

        @include tablet {
            margin-bottom: 2vh;
        }
    }
}

.warehouseInfoTop {

    text-align: left;
    margin-left: 9%;

    &__label {
        font-size: $m-h4-font-size;
        font-weight: 600;
        font-family: Titillium;
        color: $instock-slate;
        margin-bottom: 0.4rem;
        margin-top: 2vh;

        @include tablet {
            font-size:$h4-font-size;
        }
    }

    &__data {
        @include titilliumReg;
        font-size: $m-p-font-size;
        color: $instock-black;
        width: 40%;
        margin: 0;

        @include tablet {
            width: 80%;
            font-size: $p-font-size;
        }

        @include desktop {
            width: 100%;
        }
    }
}

.warehouseInfoBottom {

    display: flex;
    margin-bottom: 1rem;

    @include tablet {
        width: 70%;
        margin-left: 5vw;
    }


    &__containerLeft {
        text-align: left;
        margin-left: 9%;

        @include tablet {
            margin-left: 1vw;
        }

        @include desktop {
            margin-left: 0vw;
        }
    }

    &__containerRight {
        text-align: left;
        margin-left: 13%;

        @include tablet {
            margin-left: 6vw;
        }
    }

    &__label {
        font-size: $m-h4-font-size;
        font-weight: 600;
        font-family: Titillium;
        color: $instock-slate;
        margin-bottom: 0.4rem;
        margin-top: 3vh;

        @include tablet {
            margin-top: 2vh;
            font-size:$h4-font-size;
        }
    }

    &__data {
        @include titilliumReg;
        font-size: $m-p-font-size;
        color: $instock-black;
        margin: 0;

        @include tablet {
            width: 100%;
            font-size: $p-font-size;
        }        
    }
}

.warehouseInventory {

    display: flex;
    border-bottom: 1px solid $primary-border-color;
    width: 91%;
    margin-left: 4vw;
    padding-bottom: 2vh;

    @include tablet {
        display: none;
    }

    &__topContainer {
        text-align: left;
        margin-left: 9%;
        margin-top: 1vh;
    }

    &__bottomContainer {
        text-align: left;
        margin-left: 22vw;
        margin-top: 1vh;
        
    }

    &__label {
        font-size: $m-h4-font-size;
        font-weight: 600;
        font-family: Titillium;
        color: $instock-slate;
        margin: 0;
        margin-bottom: 0.4rem;
        margin-top: 0.4rem;
    }

    &__sort {
        display: none;

        @include tablet {
            display: block;
            height: 2vh;
        }
    }

    &__item {
        @include titilliumSemi;
        font-size: $m-p-font-size;
        color: $instock-indigo;
        margin: 0;
        margin-bottom: 2vh;
        display: flex;
    }

    &__status {
        @include titilliumReg;
        font-size: $m-h4-font-size;
        color: $stock-color;
        background-color: $stock-background-color;
        border-color: $stock-background-color;
        border-radius: 20px;
        border: 0;
        margin-bottom: 1.75vh;
    }

    &__cat {
        @include titilliumReg;
        font-size: $m-p-font-size;
        color: $instock-black;
        margin: 0;
    }

    &__qty {
        @include titilliumReg;
        font-size: $m-p-font-size;
        color: $instock-black;
        margin: 0;
    }

    &__foot {
        display: flex;
        justify-content: space-between;
        margin-left: 8vw;
        margin-right: 8vw;
        margin-top: 2vh;
        margin-bottom: 3vh;

        @include tablet {
            display: none;
        }
    }
}

.warehouseInventoryTabletDesk {

    display: none;

    @include tablet {
        display: block;
    }

    &__headers {

        @include tablet {
            display: flex;
            // justify-content: space-evenly;
            margin-left: 4vw;
            background-color: $inventory-header-color;
            width: 91%;
        }
    }

    &__startGroup {

        @include tablet{ 
            display: flex;
            padding-left: 5vw;
        }
    }

    &__endGroup {

        @include tablet {
            display: flex;
            margin-left: 10.5vw;
        }

        @include desktop {
            margin-left: 5vw;
        }
    }

    &__label {

        @include tablet {
            font-size: $m-h4-font-size;
            font-weight: 600;
            font-family: Titillium;
            color: $instock-slate;
            margin: 0;
            margin-bottom: 0.4rem;
            margin-top: 0.4rem;
            display: flex;
            align-items: center;
            margin-right: 6vw;
        }

        @include desktop {
            margin-right: 6vw;
            font-size: $h4-font-size;
            width: 10vw;
        }
    }

    &__labelActions {
        @include tablet {
            font-size: $m-h4-font-size;
            font-weight: 600;
            font-family: Titillium;
            color: $instock-slate;
            margin: 0;
            margin-bottom: 0.4rem;
            margin-top: 0.4rem;
            display: flex;
            align-items: center;
            margin-right: 6vw;
        }

        @include desktop {
            margin-left: 5vw;
            font-size: $h4-font-size;
            width: 10vw;
        }
    }

    &__sort {

        @include tablet {
            height: 2vh;
        }
    }
}

.warehouseInventoryCard {

    display: none;

    @include tablet {
        display: block;
        margin-left: 9vw;
        border-bottom: 1px solid $primary-border-color;
    }

    &__container {
        @include tablet {
            display: flex;
            align-items: center;
        }
    }

    &__startGroup {
        @include tablet{ 
            display: flex;
            align-items: center;
        }
    }

    &__endGroup {

        @include tablet {
            display: flex;
            align-items: center;
            margin-left: 17vw;
        }

        @include desktop {
        }
    }

    &__item {
        @include tablet {
            @include titilliumSemi;
            font-size: $p-font-size;
            color: $instock-indigo;
            margin: 0;
            margin-bottom: 2vh;
            display: flex;
            margin-right: 6vw;
            margin-top: 2vh;
        }
    }

    &__cat {
        @include tablet {
            @include titilliumReg;
            font-size: $p-font-size;
            color: $instock-black;
            margin: 0;
            margin-left: 2.5vw;
        }

        @include desktop {
            margin-left: 3.5vw;
        }
    }

    &__status {
        @include tablet {
            @include titilliumReg;
            font-size: $m-h4-font-size;
            color: $stock-color;
            background-color: $stock-background-color;
            border-color: $stock-background-color;
            border-radius: 20px;
            border: 0;
            margin-bottom: 1.75vh;
            margin-left: 8vw;
            margin-top: 2vh;
        }

        @include desktop {
            margin-left: 11.5vw;
        }
    }

    &__qty {
        @include tablet {
            @include titilliumReg;
            font-size: $p-font-size;
            color: $instock-black;
            margin: 0;
        }

        @include desktop {
        }
    }

    &__actions {
        @include tablet {
            margin-left: 10vw;
            display: flex;
            justify-content: space-between;
        }

        @include desktop {
            margin-left: 18vw;
        }
    }

    &__icon {
        @include tablet {
            margin-right: 2vw;
        }
    }
}