@import '../../styles/partials/common-styles';

.statusTrue {
    font-size: $m-h4-font-size;
    color: $stock-color;
    background-color: $stock-background-color;
    border-color: $stock-background-color;
    border-radius: 20px;
    border: 0;
    margin-bottom: 1.75vh;
    margin-left: 1vw;
    margin-top: 2vh;
    width: 18vw;
    height: 4vh;

    @include tablet {
        @include titilliumReg;
        font-size: $h4-font-size;
        color: $stock-color;
        background-color: $stock-background-color;
        border-color: $stock-background-color;
        border-radius: 20px;
        border: 0;
        margin-bottom: 1.75vh;
        margin-left: 1vw;
        margin-top: 0vh;
        width: 9vw;
        height: 3vw;
    }

    @include desktop {
        margin-left: 0;
        width: 6vw;
    }
}

.statusFalse {
    font-size: $m-h4-font-size;
    color: Red;
    background-color: rgba(201, 69, 21, 0.07);
    border-color: rgba(201, 69, 21, 0.07);
    border-radius: 20px;
    border: 0;
    margin-bottom: 1.75vh;
    margin-left: 1vw;
    margin-top: 2vh;
    width: 18vw;
    height: 4vh;

    @include tablet {
        @include titilliumReg;
        font-size: $h4-font-size;
        color: Red;
        background-color: rgba(201, 69, 21, 0.07);
        border-color: rgba(201, 69, 21, 0.07);
        border-radius: 20px;
        border: 0;
        margin-bottom: 1.75vh;
        margin-left: 1vw;
        margin-top: 0;
        width: 9vw;
        height: 3vw;
    }

    @include desktop {
        margin-left: 0;
        width: 6vw;
    }
}

