/*Colors*/
$nav-background-color: #232940;
$instock-indigo: #2E66E5;
$instock-black:#13182C;
$instock-slate: #5C667E;
$delete-color: #C94515;
$stock-color: #158463;
$stock-background-color: rgba(21, 132, 99, 0.07);
$primary-border-color: #BDC5D5;
$secondary-font-color: #ffffff;
$gallery-background-color: #fafafa;
$form-section-color: #E1E1E1;
$label-color: #afafaf;
$box-border-color: #afafaf;

/*Viewport Breakpoints*/
$tablet-width: 768px;
$desktop-width: 1280px;

/*Mobile Line Heights*/
$m-header-line-height: 32px;
$m-sub-header-line-height: 18px;
$m-paragraph-line-height: 18px;
$m-footer-line-height: 18px;
$m-label-line-height: 20px;

/*Mobile Font Sizes*/
$m-h1-font-size: 1.75rem;
$m-nav-font-size: 0.8125rem;
$m-h2-font-size: 1.25rem;
$m-h3-font-size: 0.8125rem;
$m-h4-font-size: 0.6875rem;
$m-p-font-size: 0.8125rem;
$m-modal-font-size: 0.9375rem;
$m-footer-font-size: 0.6875rem;


/*Tablet/Desktop Line Heights*/
$hero-header-line-height: 68px;
$header-line-height: 44px;
$header2-line-height: 32px;
$sub-header-line-height: 24px;
$paragraph-line-height: 22px;
$footer-line-height: 20px;
$label-line-height: 20px;

/*Tablet/Desktop Font Sizes*/
$h1-font-size: 2rem;
$nav-font-size: 0.875rem;
$h2-font-size: 1.5rem;
$h3-font-size: 0.875rem;
$p-font-size: 0.875rem;
$modal-font-size: 1rem;
$inventory-header-font-size: 0.75rem;
$inventory-list-font-size: 0.875rem;
$footer-font-size: 0.75rem;