@import '../partials/common-styles';

.container {
    width: 92%;
    padding: 0 1rem;
    margin-left: 4%;
    position: absolute;
    margin-top: -5rem;
    z-index: 1;

    @include tablet{
        padding: 0 2rem;
    }

    @include desktop{
        padding: 0 auto;
    }
}