@import '../partials/common-styles';

.container {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;

    @include tablet{
        padding: 0 2rem;
    }

    @include desktop{
        padding: 0 auto;
    }
}