@import '../../styles/partials/common-styles';

.warehouseHeader {
    display: flex;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    @include tablet {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    &__arrow {
        margin-left: 9vw;
    }
    &__title {
        @include titilliumSemi;
        font-size: 1.75rem;
        color: $instock-black;
        margin-left: 2vw;

        @include desktop {
            font-size: $h1-font-size;
        }
    }
    &__btn {
        background-color: $instock-indigo;
        height: 5vh;
        width: 10vw;
        border-radius: 50%;
        border-color: $instock-indigo;
        border-style: solid;
        margin-left: 24vw;

        @include tablet {
            display: flex;
            align-items: center;
            height: 4vh;
            width:10vw;
            border-radius: 20px;
            margin-left: 50vw;
        }

        @include desktop {
            margin-left: 57vw;
            width: 8vw;
            border-radius: 30px;
        }
    }
    &__btnText {
        display: none;

        @include tablet {
            @include titilliumReg;
            display: block;
            color: white;
            padding-left: 1vw;
        }
    }
    &__icon {

        height: 3vh;

        @include tablet {
            padding-left: 1.5vw;
            height: 2vh;
        }
    } 
}