@import '../../styles/partials/common-styles';

.inventoryDetailsHeader {
    background-color: #ffffff;
    z-index: 999;
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    top: -11%;
    height: 10%;
    width: 91%;
    padding: 8vh 0 8vh;
    border-radius: 3px 3px 0px 0px;
    box-shadow: 0px 2px 5px rgba(19,24,44,0.1);
    margin-left: 5vw;

    @include tablet {
        margin-top: 2vh;
        margin-bottom: 2vh;
        padding: 5vh 0 5vh;
        top: -11.75%;
    }

    @include desktop {
        padding: 5vh 0 5vh;
        top: -11.75%;
    }

    &__arrow {
        padding-left: 4vw;

    }

    &__title {
        @include titilliumSemi;
        font-size: 1.75rem;
        color: $instock-black;
        margin-left: 2vw;

        @include tablet {
            font-size: $h1-font-size;
        }
    }

    &__btn {
        background-color: $instock-indigo;
        height: 5vh;
        width: 35px;
        border-radius: 50%;
        border-color: $instock-indigo;
        border-style: solid;
        margin-left: 35vw;

        @include tablet {
            display: flex;
            align-items: center;
            height: 6vh;
            width:10vw;
            border-radius: 20px;
            margin-left: 50vw;
        }

        @include desktop {
            margin-left: 60vw;
            width: 7vw;
            height: 4vh;
            border-radius: 30px;
        }
    }

    &__btnText {
        display: none;

        @include tablet {
            @include titilliumReg;
            display: block;
            color: white;
            padding-left: 1vw;
        }
    }

    &__icon {

        height: 3vh;

        @include tablet {
            padding-left: 1.5vw;
            height: 2vh;
        }

        @include desktop {
            padding-left: 0vw;
        }
    }
    
}

.inventoryDetailsBreakOne {
    background-color: #ffffff;
    z-index: 999;
    position: absolute;
    width: 91%;
    color: $primary-border-color;
    margin-left: 5%;
    margin-bottom: 2vh;
    top: 4.5%;

    @include tablet {
        margin-bottom: 2vh;
        top: 0%;
    }

    @include desktop {
        top: 0;
    }
}

.warehouseInfo {
    z-index: 999;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(19,24,44,0.1);

    &__vl {
        display: none;

        @include tablet {
            display: block;
            border-right: 1px solid $primary-border-color;
            height: 8vh;
            margin-top: 2vh;
            margin-left: 10vw;
        }

        @include desktop {
            margin-bottom: 2vh;
            height: 6vh;
            margin-left: 20vw;
        }
    }
} 

.inventoryDetails {
    background-color: #ffffff;
    position: absolute;
    z-index: 800;
    top: 4%;
    height: 42vh;
    width: 91%;
    margin-left: 5vw;
    padding-top: 1vh;
    box-shadow: 0px 2px 5px rgba(19,24,44,0.1);

    @include tablet {
        display: flex;
        height: 28vh;
        top: 0%;
    }

    @include desktop {
        top: 0;
        height: 24vh;
    }

    &__topContainer {
        text-align: left;
        margin-left: 9vw;
        margin-top: 1vh;

        @include tablet {
            width: 40%;
        }
    }

    &__middleContainer {
        text-align: left;
        margin-left: 9vw;
        margin-top: 1vh;
        display: flex;

        @include tablet {
            margin-left: 0;
        }

        @include desktop {
            margin-bottom: 4vh;
        }
    }

    &__bottomContainer {
        text-align: left;
        margin-left: 9vw;
        margin-top: 1vh;

        @include tablet {
            margin-left: 0;
        }
    }

    &__middleGroupRight {
        margin-left: 35vw;

        @include tablet {
            margin-left: 10vw;
        }
        @include desktop {
            margin-left: 15vw;
        }
    }

    &__vl {
        display: none;

        @include tablet {
            display: block;
            border-right: 1px solid $primary-border-color;
            height: 22vh;
            margin-top: 2vh;
            margin-right: 6vw;
        }

        @include desktop {
            height: 17vh;
        }
    }

    &__label {
        font-size: $m-h4-font-size;
        font-weight: 600;
        font-family: Titillium;
        color: $instock-slate;
        margin: 0;
        margin-bottom: 0.4rem;
        margin-top: 0.4rem;

        @include tablet {
            font-size: $h4-font-size;
        }
    }

    &__item {
        @include titilliumReg;
        font-size: $m-p-font-size;
        color: $instock-black;
        margin: 0;
        margin-bottom: 2vh;
        width: 85%;

        @include tablet {
            width: 85%;
            margin-right: 0;
            font-size: $p-font-size;
        }

        @include desktop {
            margin-bottom: 5vh;
        }
    }

    &__status {
        @include titilliumSemi;
        font-size: $m-h4-font-size;
        color: $stock-color;
        background-color: $stock-background-color;
        border-color: $stock-background-color;
        border-radius: 20px;
        border: 0;
        margin-bottom: 1.75vh;
        width: 15vw;
        height: 4vh;

        @include tablet {
            width: 9vw;
            height: 3vh;
            font-size: $p-font-size;
        }

        @include desktop {
            width: 6vw;
            height: 2vh;
        }
    }

    &__cat {
        @include titilliumReg;
        font-size: $m-p-font-size;
        color: $instock-black;
        margin: 0;

        @include tablet {
            font-size: $p-font-size;
        }
    }

    &__qty {
        @include titilliumReg;
        font-size: $m-p-font-size;
        color: $instock-black;
        margin: 0;

        @include tablet {
            font-size: $p-font-size;
        }
    }
}

.mainOne {
    background-color: $gallery-background-color;
    position: relative;
    height: 60vh;
}

.footerOne {
    padding-top: 55vh;
    background-color: $gallery-background-color;
    padding-bottom: 6vh;
    @include titilliumReg;
    font-size: 11px;
    color: #5C667E;

    &-label {
        padding-top: 2.5em;
        width: 50%;
        margin-left: auto;
        margin-right: auto;

        @include tablet {
        padding-top: 18em;
        }

        &__text {
            text-align: center;

        }
    }
}
