@import '../../styles/partials/common-styles';

a {
  text-decoration: none;
  font-family: "Titillium";

  &:active {
    color: $secondary-font-color;
  }

  &:visited {
    color: $primary-border-color;
  }

}

.nav {
    width: 23.438rem;
    background-color: $nav-background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 12.5rem;
    position: relative;
    font-family: "Titillium";
    
    @include tablet {
      flex-direction: row;
      height: 11.625rem;
    }
  
    .nav__logo {
        margin-left: 6rem;
        margin-right: 6rem;
        padding-top: 1rem;
      
      @include tablet {
        margin: 0 10rem 5rem 2rem;
        padding-top: 0;
        
      }
      @include desktop {
        margin-left: 3.75rem;
        margin-right: 3.5rem;
      }
    }
  
    &__container {
        display: flex;
        justify-content: space-evenly;
        width: 100%;        
        margin-right: 2rem;
       

        @include tablet {
        display: flex;
        justify-content: flex-end;        
        margin: 0 0 5rem 2rem;
        }
        
        
  
      .nav__menu {
        display: flex;
        margin-left: 2rem;
        padding: 1rem 0;
        color: $secondary-font-color;
        font-size: .813rem;
        text-decoration: none;
        
       
      
        @include tablet {
          display: flex;
          justify-content: flex-end;
          margin-right: 1rem;          
          padding-right: 0rem;
          font-size: 0.875rem;
          
        }
  
        @include desktop {
          width: 10rem;
          padding-right: 2rem;
        }
        
        
        &-button {                         
          text-align: center;          

          &--active {
            color: $secondary-font-color;
            background: $instock-black;
            border-radius: 1.25rem; 
          }
         
          &-warehouses {            
            padding: .5rem 0 .5rem 1rem; 
            margin-left: 2rem;
            margin-right: 3rem;
            
            @include tablet {
              margin-left: 1rem;
              margin-right: 1rem;
              padding: .5rem 0;
            }
            
            @include desktop {              
              margin-right: 0;
              margin-left: 0;
              padding-right: 1rem;
              padding-left: 1.25rem;
              
            }

            
          }
          
          &-inventory {
            margin: .5rem .85rem 0 3rem; 
            padding: 0 2.5rem 0 .5rem; 
            
            

            @include tablet {
              margin: .5rem 0 0 1rem; 
              padding: 0 1.25rem 0 .5rem;


            }

            @include desktop {
              margin-top: .5rem;
              margin-right: 0;
              margin-left: .75rem;

            }
          }
        }
      }
    }
  }