@import '../../styles/partials/common-styles';


* {
    font-family: 'Titillium';
    margin: 0;
    padding: 0;
}

.card{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -75px;

    &__container{
        border: 1px solid black;
        display: flex;
        justify-content: flex-start;
        width: 345px;
        margin-bottom: 100px;
        background-color: white;
    }

    &__content-wrapper{
        display: flex;
        
    }
}


.form {

    display: flex;
    justify-content: flex-start;
    margin-left: 25px;

    &__details {

        &-header {
            margin-top: 20px;

            &-txt {
                font-weight: 600;
                font-size: 1.75rem;
            }
        }

        &-heading {
            font-size: 1.25rem;
            font-weight: 600;
            text-align: left;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        &-input {
            // display: flex;
            // flex-direction: column;

            &-subheading {
                display: flex;
                text-align: left;
                margin-top: 10px;
                font-size: 0.8rem;
                font-weight: 600;
            }
        }

    }
}