@import '../../styles/partials/common-styles';


* {
    font-family: 'Titillium';
    margin: 0;
    padding: 0;
}

.form {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;

    &__details {
        &-heading {
            font-size: 1.1rem;
            font-weight: 600;
            text-align: left;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        &-input {
            // display: flex;
            // flex-direction: column;

            &-subheading {
                display: flex;
                text-align: left;
                margin-top: 10px;
            }
        }

    }
}