@import '../../styles/partials/common-styles';

main {
    position: relative;
   
   
   .add {
        position: absolute;
       background-color: $secondary-font-color;
       width: 92%;
       border: 1px solid $gallery-background-color;
       border-radius: 3px;
       margin-top: -5em;
       box-shadow: 0px 0px 4px $box-border-color;
       margin-bottom: 100px;

       @include tablet {
        margin-top: -6.15em;
        }

       @include desktop {
           width: 80%;
           margin-left: 10%;
        }
    
       &__divider {
            border-bottom: 1px solid $primary-border-color;
            margin-top: -15px;
            margin-bottom: -5px;
            width: 92vw;

            @include tablet {
                display: none;
            }

            @include desktop {
                display: none;
            }
       }

   
       &-top {
   
           &__header {
               margin: 0 6%;
               padding: 1em 0;;
               @include titilliumSemi;
               font-size: $m-h1-font-size;
   
               @include tablet {
                   font-size: $h1-font-size;
                   margin: 0.5% 6%;
               }

               @include desktop {
                   margin: -1% 4%;
               }

           }
       }
   
           &-warehouse {
               border-top: 1px solid $box-border-color;
               @include tablet {
                   @include commonFlex(space-between,row,none);
                   margin: -3.2% 0;
               }

               @include desktop {
                   margin: -1.5% 0;
               }
       
   
               &__details {
                   padding-bottom : 1.5em;
   
                   @include tablet {
                       width: 100%;
                       margin: 3% 0;
                   }
           
   
                   &-header {
                       @include titilliumSemi;
                       font-size: $m-h2-font-size;
                       margin: 0 6%;
                       padding: 1em 0;
   
                       @include tablet {
                           font-size: $h2-font-size;
                       }
                   }
           
                   &-info {
                       margin-bottom: 16px;
                       @include commonFlex(none,column,none);
                       margin: 0 6%;
                       margin-bottom: 1em;
                       
               
                       &-label {
                           margin-bottom: 4px;
                           @include titilliumSemi;
                           font-size: $m-h3-font-size;
   
                           @include tablet {
                           font-size: $h3-font-size;                        
                           }
                       }   
           
                       &-input {
                           border-radius: 20px;
                           height: 36px;
                           border: 1px solid $box-border-color;
                           padding-left: 1em;
                       }
                   }
               }
           } 
   
   
       &-buttons {
           @include titilliumSemi;
           @include commonFlex(space-around,row,none);
           font-size: $m-p-font-size;
           background-color: $light-grey;
           padding: 1em 0;
   
           @include tablet {
               @include commonFlex(none,row,none);
               justify-content: flex-end;
               margin-right: 2em;
               margin-top: -2.2em;
               height: 68px;
               width: 91.8vw;
               padding: 1.25em 2.4em;
           }

           @include desktop {
                width: 79.9vw;
           }
   
           &__cancel {
               font-family: 'Titillium';
               width: 139px;
               border-radius: 20px;
               height: 36px;
               border: 1px solid $box-border-color;
               background-color: white;
   
               @include tablet {
                   width: 78px;
                   height: 38px;
               }
           }
   
           &__add {
               font-family: 'Titillium';
               color: white;
               width: 139px;
               border-radius: 20px;
               height: 36px;
               border: 1px solid $box-border-color;
               background-color: $instock-indigo;
   
               @include tablet {
                   margin-left: 1em;
                   width: 140px;
                   height: 38px;
               }
           }
       }     
   }
}